:root {
  --hour-text-font-size: 11px;
  --hour-text-line-height: 1.2;
  --hour-line-color: var(--color-gray-900);
}

.container {
  position: relative;
  width: 49px;
  text-align: center;
}

.container::before {
  content: "";
  position: absolute;
  top: 34px;
  left: 50%;
  width: 1px;
  height: calc(100vh - var(--header-height) - var(--navbar-height));
  background-color: var(--hour-line-color);
}

.text {
  font-size: var(--hour-text-font-size);
  line-height: var(--hour-text-line-height);
  letter-spacing: 0.4px;
  font-weight: bold;
}

.container.disabled .text {
  color: var(--color-disabled);
}
