.container {
  list-style: none;
  margin: 0;
  padding: 15px 0;
  width: 100%;
  display: flex;
}

.container::before,
.container::after {
  content: "";
  display: block;
  width: 25px;
  height: auto;
  background-color: var(--color-white);
}

.container:first-of-type {
  margin-top: 1px;
}

.container:focus-within {
  outline: 1px solid var(--color-primary);
}
