.container {
  position: relative;
  grid-area: content;
  display: grid;
  grid-template-columns: 245px auto;
  grid-template-rows: var(--navbar-height) auto;
  grid-template-areas:
    "day timeline"
    "sidebar calendar";
  overflow-x: auto;
}

.day {
  width: 100%;
  grid-template: "day";
  border-bottom: 1px solid var(--navbar-container-border-color);
}
