:root {
  --calendar-container-background-color: var(--color-gray-200);
}

.container {
  min-height: 100%;
  min-width: 100vw;
  grid-template: "calendar";
  background-color: var(--calendar-container-background-color);
}
