:root {
  --header-container-background-color: var(--color-white);
  --header-container-border-color: var(--color-gray-100);
}

.container {
  grid-area: header;
  background-color: var(--header-container-background-color);
  border-bottom: 1px solid var(--header-container-border-color);
}
