:root {
  --sidebar-container-background-color: hsl(115, 74%, 76%);
  --sidebar-container-z-index: 2;
}

.container {
  position: sticky;
  z-index: var(--sidebar-container-z-index);
  left: 0;
  grid-area: sidebar;
  background-color: var(--sidebar-container-background-color);
}
