:root {
  --sidebar-container-background-color: var(--color-white);
  --sidebar-container-box-shadow-color: var(--color-gray-100);
  --sidebar-container-z-index: 2;
}

.container {
  position: sticky;
  z-index: var(--sidebar-container-z-index);
  left: 0;
  grid-area: sidebar;
  background-color: var(--sidebar-container-background-color);
  box-shadow: 1px 0 0 0 var(--sidebar-container-box-shadow-color);
}
