body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--header-height) auto;
  grid-template-areas:
    "header"
    "content";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-gray-100: hsl(210, 16%, 93%);
  --color-gray-200: hsl(220, 20%, 97%);
  --color-gray-300: hsl(210, 31%, 87%);
  --color-gray-400: hsl(209, 19%, 66%);
  --color-gray-500: hsl(209, 19%, 66%);
  --color-gray-900: rgba(19, 100, 205, 0.1);

  --color-blue-100: hsl(211, 100%, 50%);
  --color-blue-200: hsl(219, 100%, 50%);
  --color-blue-300: hsl(243, 100%, 50%);
  --color-blur-400: hsl(247, 100%, 50%);

  --color-primary: var(--color-blue-100);
  --color-primary--hover: var(--color-blue-200);
  --color-primary--active: var(--color-blue-300);

  --color-secondary: var(--color-gray-100);
  --color-secondary--hover: var(--color-gray-200);
  --color-secondary-active: var(--color-gray-500);

  --header-height: 71px;
  --navbar-height: 46px;
}
